.hero {
    
    header {
        width: 8rem;
        margin-bottom: 3.5rem;
    }

    &__container {
        padding: 2.05rem 2.375rem;
    }

    &__img {
        margin-bottom: 3.5rem;
    }

    &__content {
        text-align: center;
        margin-bottom: 3.8rem;

        p {
            padding: 1rem 0;
            line-height: 1.5rem;
        }

        button {
            font-family: $poppins;
            margin-top: 0.5rem;
            padding: 0.6rem 4.7rem;
            border-radius: 2rem;
            color: $violet;
            font-size: 0.75rem;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                background: $softMagenta;
                color: #fff;
            }
        }
    }

    &__social {
        padding-bottom: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;


        &-item {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                color: $softMagenta;
                border: 1px solid $softMagenta;
            }

            i {
                font-size: 0.9rem;
            }
        }
    }
}

// Media queries

@media (min-width: 48rem) {
    .hero {

        &__container {
            max-width: 1440px;
            margin: 0 auto;
            padding: 4rem 5rem;
            padding-bottom: 2.5rem;
            display: flex;
            flex-wrap: wrap;


            header {
                flex-basis: 100%;

                img {
                    width: 12rem;
                }
            }
        }

        &__img, &__content {
            flex-basis: 50%;
        }

        &__content {
            padding-top: 3rem;
            padding-left: 3.875rem;
            text-align: left;
            font-size: 1.125rem;

            h1 {
                width: 80%;
                font-size: 2.5rem;
                line-height: 3.5rem;
            }

            p {
                width: 90%;
                padding: 1.5rem 0;
                line-height: 1.8rem;
            }

            button {
                font-size: inherit;
                padding: 1rem 4rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }

        &__social {
            flex-basis: 100%;
            justify-content: flex-end;
            gap: 0.875rem;

            &-item {
                width: 45px;
                height: 45px;
                
                i {
                    font-size: 1.1rem;
                }
            }
        }


        
    }
}